<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/usuario/new">
        <div>
            Nombre: <input type="text" name="nombre" />
        </div>
        <div>
            Apellido: <input type="text" name="apellido" />
        </div>
        <div>
            Fecha Nacimiento: <input type="date" name="fecha_nacimiento" />
        </div>
        <div Departamento: <select name="codigo_departamento">
            <option value="05">Antioquia</option>
            <option value="11">Bogotá</option>
            <option value="76">Valle del Cauca</option>
            </select>
        </div>
        <input type="submit" value="Guardar" />
    </form>
</body>

</html>