<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <h1>Adicciones Modernas</h1>
        <!-- El elemento thead describe el area de encabezado en  la tabla -->
        <thead style="font-weight: bold;">
            <tr>
                <td>Adicción</td>
                <td>Popularidad</td>
                <td>Peligrosidad</td>
                <td>Costo</td>
            </tr>
        </thead>

        <!-- El elemento tbody describe el cuerpo de la tabla -->
        <tbody>
            <tr>
                <td>Celular</td>
                <td>Alta</td>
                <td>Media</td>
                <td>Bajo</td>
            </tr>
            <tr>
                <td>Vaper</td>
                <td>Baja</td>
                <td>Alta</td>
                <td>Medio</td>
            </tr>
            <tr>
                <td>Alcohol</td>
                <td>Alta</td>
                <td>Alta</td>
                <td>Medio</td>
            </tr>
            <tr>
                <td>Drogas</td>
                <td>Baja</td>
                <td>Alta</td>
                <td>Alto</td>
            </tr>
        </tbody>
        <!-- tfoot se usa para describir el pie de la tabla -->
        <tfoot style="background-color: lightblue;">
            <tr>
                <td>Conclusion</td>
                <td>Sé diferente</td>
                <td>No seas pendejo</td>
                <td>Cuida tu bolsillo</td>
            </tr>
        </tfoot>
    </table>
</body>

</html>