<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <!-- El elemento tr describe una fila de la tabla -->
        <tr>
            <!-- Cada elemento td corresponde a una celda dentro de la fila -->
            <td>Primera</td>
            <td>Fila</td>
        </tr>
        <tr>
            <td>Izquierda</td>
            <td>Derecha</td>
        </tr>
        <tr>
            <td>Ultima</td>
            <td>Fila</td>
        </tr>
    </table>
</body>

</html>